@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@font-face {
    font-family: 'ChosunGu';
    src: url('./assets/fonts/chosun-gu/ChosunGu.woff2') format('woff2'),
    url('./assets/fonts/chosun-gu/ChosunGu.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans bg-background text-stone-800 antialiased;
    }

    .bg-main {
        background-image: url('./assets/images/bg/bg-main.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

/* 스크롤바 숨기기 */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
